ul.sort-menu {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--popup-menu-bg-color);
  border: 1px solid var(--popup-menu-border-color);
  box-shadow: var(--popup-menu-box-shadow);
  border-radius: 3px;
  overflow: hidden;
}

ul.sort-menu > li {
  width: 100%;
}

ul.sort-menu > li > button {
  background-color: transparent;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 10px;
  width: 100%;
  text-align: end;
}

ul.sort-menu > li > button.selected {
  border-left: 3px solid lightgreen;
  background-color: var(--button-default-bg-color-hover);
}

ul.sort-menu > li > button:hover {
  background-color: var(--button-default-bg-color-hover);
}
