.form-popup-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  z-index: 2;
  padding: 0;
  background-color: #222;
  border: 1px solid #555;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  box-shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-popup-menu button,
.form-popup-menu .edit-link {
  background-color: transparent;
  padding: 5px 10px;
  border: 0;
  font-size: 1rem;
  text-align: start;
  min-width: 75px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-popup-menu .edit-link svg,
.form-popup-menu button svg {
  width: 12px;
  height: 12px;
  fill: whitesmoke;
}

.form-popup-menu .edit-link:not(:last-child),
.form-popup-menu button:not(:last-child) {
  border-bottom: #444 1px solid;
}

.form-popup-menu .edit-link:hover {
  text-decoration: none;
}

.form-popup-menu .edit-link:not(:last-child):hover,
.form-popup-menu button:not(:disabled):hover {
  background-color: #3a3a3a;
}
