div.input-type-selector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

div.input-type-selector > .input-types-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

div.input-type-selector > .input-types-selector > div.input-type-placeholder {
  height: 47.5px;
  width: 100%;
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color);
  opacity: 0.7;
}

div.input-type-selector > .input-types-selector > button {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color);
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  font-size: 0.875rem;
  width: 100%;
  position: relative;
}

div.input-type-selector > .input-types-selector > button:hover {
  background-color: var(--button-default-bg-color-hover);
  border: 1px solid var(--button-default-border-color-hover);
}

div.input-type-selector > .input-types-selector > button.selected {
  border-left: 5px solid lightgreen;
  padding-left: 10px;
}

div.input-type-selector > .input-types-selector > button > .icon-container {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  border-right: 1px solid var(--button-default-border-color);
  padding: 5px;
  height: 100%;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.input-type-selector > .input-types-selector > button > .icon-container > span {
  font-size: 0.875rem;
}

div.input-type-selector > .input-types-selector > button > .icon-container > svg {
  fill: whitesmoke;
  height: 15px;
  width: 15px;
}

div.input-type-selector > .input-types-selector > button > .content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 40px;
}

div.input-type-selector > .input-types-selector > button > .content > .name {
  font-weight: 500;
  font-size: 1rem;
}

div.input-type-selector > .input-types-selector > button > .content > .description {
  font-size: 0.875rem;
  text-align: start;
}
