div.input-type-selector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

div.input-type-selector > .navigation-buttons > button.navigation-button {
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color);
}

div.input-type-selector > .navigation-buttons > button.navigation-button:hover {
  background-color: var(--button-default-bg-color-hover);
  border: 1px solid var(--button-default-border-color-hover);
}

div.input-type-selector > .input-types-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

div.input-type-selector > .input-types-selector > div.input-type-placeholder {
  height: 47.5px;
  width: 100%;
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color);
  opacity: 0.7;
}

div.input-type-selector > .input-types-selector > button {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color);
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  font-size: 0.875rem;
  width: 100%;
}

div.input-type-selector > .input-types-selector > button:hover {
  background-color: var(--button-default-bg-color-hover);
  border: 1px solid var(--button-default-border-color-hover);
}

div.input-type-selector > .input-types-selector > button.selected {
  border-left: 5px solid lightgreen;
  padding-left: 10px;
}

div.input-type-selector > .input-types-selector > button > .name {
  font-weight: 500;
  font-size: 1rem;
}

div.input-type-selector > .input-types-selector > button > .description {
  font-size: 0.875rem;
  text-align: start;
}
