div.input-type-selector {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.input-type-selector {
  align-items: flex-start;
}

div.input-type-selector > .input-types-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

div.input-type-selector > .input-types-selector > button {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}

div.input-type-selector > .input-types-selector > button:hover {
  border: #666 1px solid;
}

div.input-type-selector > .input-types-selector > button.selected {
  border-left: 5px solid lightgreen;
  padding-left: 10px;
}

div.input-type-selector > .input-types-selector > button > .name {
  font-weight: 500;
  font-size: 1rem;
}

div.input-type-selector > .input-types-selector > button > .description {
  font-size: 0.875rem;
  text-align: start;
}

div.input-type-selector > .input-types-selector > button {
  /* width: 100%; */
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #555;
  padding: 3px 5px;
  cursor: pointer;
  font-size: 0.875rem;
}
