main.edit-draft-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 10px 75px 10px;
  width: 100%;
  min-height: 100%;
  gap: 10px;
  background-color: var(--main-bg-color);
}

main.edit-draft-form > .container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
}

main.edit-draft-form > .container > .form-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  gap: 10px;
}

main.edit-draft-form > .container > .form-buttons > button {
  padding: 5px 10px;
}

main.edit-draft-form > .container > .form-buttons > button:not(:last-child) {
  border-right: 1px solid #555;
}
