main.edit-draft-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: var(--main-bg-color);
}

main.edit-draft-form > .container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
}
