main.landing {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 10px 75px 10px;
  width: 100%;
  min-height: 100%;
  gap: 10px;
  background-color: var(--main-bg-color);
}

main.landing > .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
}

main.landing > .container > .hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

main.landing > .container > .hero-banner > h1 {
  /* width: 100%; */
  font-size: calc((100vw / 7));
  line-height: calc((100vw / 7));
}

main.landing > .container > .hero-banner > p {
  font-style: italic;
}

main.landing > .container > .hero-banner > .cta-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

main.landing > .container > .hero-banner > .cta-links > a:first-child {
  background-color: blueviolet;
}

main.landing > .container > .hero-banner > .cta-links > a:first-child:hover {
  background-color: hsl(271 76% 60% / 1);
}

main.landing > .container > .hero-banner > .cta-links > a:not(:first-child) {
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color)
}

main.landing > .container > .hero-banner > .cta-links > a:not(:first-child):hover {
  background-color: var(--button-default-bg-color-hover);
  border: 1px solid var(--button-default-border-color-hover);
}

main.landing > .container > .hero-banner > .cta-links > a {
  padding: 5px 10px;
  border-radius: 3px;
  transition: transform 0.05s ease, padding 0.05s ease, border-color 0.05s ease;
  border: 1px solid #555;
}

main.landing > .container > .hero-banner > .cta-links > a:hover {
  text-decoration: none;
}
