main.landing {
  display: flex;
  flex-direction: column;
  padding: 89px 10px 50px 10px;
  width: 100%;
  /* max-width: 500px; */
  margin: 0 auto;
  gap: 10px;
}

main.landing > .hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

main.landing > .hero-banner > h1 {
  /* width: 100%; */
  font-size: calc((100vw / 7));
  line-height: calc((100vw / 7));
}

main.landing > .hero-banner > p {
  font-style: italic;
}

main.landing > .hero-banner > .cta-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

main.landing > .hero-banner > .cta-links > a:first-child {
  background-color: blueviolet;
}

main.landing > .hero-banner > .cta-links > a:first-child:hover {
  background-color: hsl(271 76% 60% / 1);
}

main.landing > .hero-banner > .cta-links > a:not(:first-child) {
  background-color: transparent;
}

main.landing > .hero-banner > .cta-links > a:not(:first-child):hover {
  background-color: #333;
}

main.landing > .hero-banner > .cta-links > a {
  padding: 5px 10px;
  border-radius: 3px;
  transition: transform 0.05s ease, padding 0.05s ease, border-color 0.05s ease;
  border: 1px solid #555;
}

main.landing > .hero-banner > .cta-links > a:hover {
  text-decoration: none;
}
