.published-status {
  cursor: help;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 7px;
  /* background-color: var(--container-bg-color);
  border: 1px solid var(--container-border-color); */
  border-radius: 3px;
  font-size: 0.875rem;
}

.published-status.draft {
  /* border-left: 5px solid #c37f00; */
}

.published-status.published {
  /* border-left: 5px solid lightskyblue; */
}

.published-status > svg {
  width: 15px;
}

.published-status.draft > svg {
  fill: #c37f00;
}

.published-status.published > svg {
  fill: lightskyblue;
}