.prev-submissions-modal {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: var(--popup-menu-bg-color);
  /* border: 1px solid var(--popup-menu-border-color); */
  box-shadow: var(--popup-menu-box-shadow);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  width: calc(100% - 20px);
  max-width: 500px;
  z-index: 4;
}

.prev-submissions-modal > .header,
.prev-submissions-modal > .content,
.prev-submissions-modal > .controls {
  padding: 10px;
}



.prev-submissions-modal > .header,
.prev-submissions-modal > .content {
  border-bottom: 1px solid #555;
}

/* Header */
.prev-submissions-modal > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--container-bg-color);
  gap: 50px;
}

.prev-submissions-modal > .header > h1 {
  font-size: 1.15rem;
  font-weight: 600;
}

.prev-submissions-modal > .header > button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid transparent;
}

.prev-submissions-modal > .header > button:hover {
  border: 1px solid var(--button-default-border-color-hover);
  background-color: var(--button-default-bg-color-hover);
}

.prev-submissions-modal > .header > button > svg {
  width: 15px;
  fill: whitesmoke;
}

/* Content */
.prev-submissions-modal > .content {
  display: flex;
  align-items: flex-start;
  padding-bottom: 25px;
}

.prev-submissions-modal > .content > p {
  text-align: start;
  opacity: 0.8;
}

/* Controls */
.prev-submissions-modal > .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.prev-submissions-modal > .controls > button {
  border: 1px solid var(--button-default-border-color);;
  background-color: var(--button-default-bg-color);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
}

.prev-submissions-modal > .controls > button.delete {
  background-color: crimson;
  border: transparent 1px solid;
}

.prev-submissions-modal > .controls > button:not(:disabled):not(.delete):hover {
  background-color: var(--button-default-bg-color-hover);
  border-color: var(--button-default-border-color-hover);
}

.prev-submissions-modal > .controls > button.delete:not(:disabled):hover {
  background-color: hsl(348, 83%, 55%);
}

.prev-submissions-modal-overlay {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
