.form-group-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group-container > input,
.form-group-container > textarea {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid var(--input-default-border-color);
  transition: border-color 0.1s ease-out;
  font-family: inherit;
}

.form-group-container > input {
  font-weight: 500;
}
