.staged-input-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.staged-input-form > .staged-input-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.staged-input-form > .staged-input-form > .staged-input-type-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: 1px solid var(--container-border-color);
  padding: 5px;
  padding-left: 10px;
  border-radius: 3px;
}

.staged-input-form > .staged-input-form > .staged-input-type-info > .name {
  font-weight: 500;
  font-size: 1rem;
}

.staged-input-form > .staged-input-form > .staged-input-type-info > .description {
  font-size: 0.875rem;
  text-align: start;
}

.staged-input-form > .staged-input-form > .metadata {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.staged-input-form > .staged-input-form > .metadata > .form-group-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.staged-input-form > .staged-input-form > .metadata > .form-group-container > input,
.staged-input-form > .staged-input-form > .metadata > .form-group-container > textarea {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid var(--input-default-border-color);
  transition: border-color 0.1s ease-out;
  font-family: inherit;
}

.staged-input-form > .staged-input-form > .metadata > .form-group-container > input {
  font-weight: 500;
}

.staged-input-form > .staged-input-form > .metadata > button {
  background-color: transparent;
  border: 0;
  align-self: flex-start;
  cursor: pointer;
}

.staged-input-form > .staged-input-form > .metadata > button:hover {
  text-decoration: underline;
}

.staged-input-form > .staged-input-form > .properties-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--container-border-color);
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  
}

.staged-input-form > .staged-input-form > .properties-container.toggled > .header {
  border-bottom: 1px solid var(--container-border-color);
}

.staged-input-form
  > .staged-input-form
  > .properties-container
  > .header
  > button.properties-toggle {
  background-color: var(--button-default-bg-color);
  border: 0;
  width: 100%;
  text-align: start;
  font-size: 1rem;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.staged-input-form
  > .staged-input-form
  > .properties-container
  > .header
  > button.properties-toggle:hover {
  background-color: var(--button-default-bg-color-hover);
}

.staged-input-form
  > .staged-input-form
  > .properties-container
  > .header
  > button.properties-toggle
  > .icon-container {
  position: absolute;
  left: 0;
  width: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid var(--button-default-border-color);
}

.staged-input-form
  > .staged-input-form
  > .properties-container
  > .header
  > button.properties-toggle
  > .icon-container
  > svg {
  width: 15px;
  fill: whitesmoke;
}

.staged-input-form
  > .staged-input-form
  > .properties-container
  > .header
  > button.properties-toggle
  > div.content {
  margin-left: 45px;
}

.staged-input-form > .staged-input-form > .properties-container >.properties
/* ,.staged-input-form > .staged-input-form > .metadata */ {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-top: 0;
  background-color: transparent;
  padding: 10px;
  /* border-radius: 5px; */
}

.staged-input-form > .staged-input-form > div.properties > label {
  font-size: 0.875rem;
}

.staged-input-form
  > .staged-input-form
  > .properties-container
  > .properties
  > .property-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.staged-input-form
  > .staged-input-form
  > .properties
  > .property-container
  > label.property-name {
  font-size: 0.875rem;
  font-weight: 500;
}

.staged-input-form
  > .staged-input-form
  > .properties
  > .property-container
  > p.property-description {
  font-size: 0.8rem;
}

.staged-input-form
  > .staged-input-form
  > .properties-container
  > .properties
  > .property-container
  > input {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid var(--input-default-border-color);
  transition: border-color 0.1s ease-out;
  font-family: inherit;
}

.staged-input-form
  > .staged-input-form
  > .properties
  > .property-container
  > input:not(.string):not(.number):not(.url):not(.email) {
  cursor: pointer;
}

.staged-input-form
  > .staged-input-form
  > .properties-container
  > .properties
  > .property-container
  > input:hover {
  border: 1px solid var(--input-default-border-color-hover);
}

.staged-input-form
  > .staged-input-form
  > .properties
  > .property-container.radio
  > .radio-options {
  display: flex;
  gap: 5px;
}

.staged-input-form
  > .staged-input-form
  > .properties
  > .property-container.radio
  > .radio-options
  > button {
  padding: 3px 5px;
  font-size: 1rem;
  background-color: #333;
  border-radius: 3px;
  border: 1px solid #555;
  cursor: pointer;
}

.staged-input-form
  > .staged-input-form
  > .properties
  > .property-container.radio
  > .radio-options
  > button:not(:disabled):not(.checked):hover {
  border-color: #6f6f6f;
}

.staged-input-form
  > .staged-input-form
  > .properties
  > .property-container.radio
  > .radio-options
  > button.checked {
  border: 1px solid lightgreen;
}

.staged-input-form > .navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.staged-input-form > .navigation-buttons > button.navigation-button {
  width: auto;
}

.staged-input-form > .navigation-buttons .navigation-button.done svg {
  fill: lightgreen;
}
