.staged-input-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.staged-input-form > .row {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  /* padding: 30px 10px; */
}

.staged-input-form > .row > .staged-input-form-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.staged-input-form > .row > .staged-input-form-container > .staged-input-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.staged-input-form > .row > .staged-input-form-container > .navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.staged-input-form
  > .row
  > .staged-input-form-container
  > .navigation-buttons
  > button.navigation-button {
  width: auto;
}

.staged-input-form
  > .row
  > .staged-input-form-container
  > .navigation-buttons
  .navigation-button.done
  svg {
  fill: lightgreen;
}

.staged-input-form > .row > .staged-input-form-container > form > .description-toggle {
  text-align: start;
  padding: 3px 5px;
  background-color: var(--button-default-bg-color);
  border-radius: 3px;
  border: 1px solid var(--button-default-border-color);
  font-size: 0.875rem;
  cursor: pointer;
}

.staged-input-form
  > .row
  > .staged-input-form-container
  > form
  > .description-toggle:hover {
    background-color: var(--button-default-bg-color-hover);
}

@media screen and (max-width: 600px) {
  .staged-input-form > .row {
    flex-direction: column;
  }

  .staged-input-form > .row > .staged-input-form-container {
    order: 2;
  }
}
