.user-menu {
  position: absolute;
  right: 5px;
  top: calc(100% + 5px);
  background-color: #222;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #555;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user-menu > ul > li {
  padding: 0;
}

.user-menu > ul > li > button,
.user-menu > ul > li > p,
.user-menu > ul > li > a {
  background-color: transparent;
  border: 0;
  padding: 5px 10px;
  height: 100%;
  font-size: 1rem;
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 10px;
}


.user-menu > ul > li > button,
.user-menu > ul > li > a {
  cursor: pointer;
}

.user-menu > ul > li > button > svg,
.user-menu > ul > li > a > svg {
  width: 15px;
  fill: whitesmoke;
}

.user-menu > ul > li > button:hover,
.user-menu > ul > li > a:hover {
  background-color: #333;
}

.user-menu > ul > li:not(:last-child) > button,
.user-menu > ul > li:not(:last-child) > a,
.user-menu > ul > li > p {
  border-bottom: 1px solid #444;
}

.user-menu > ul > li > p {
  background-color: #333;
  font-weight: 500;
  border-left: 3px solid lightgreen;
  padding-left: 15px;
}
