.input-container {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  padding: 10px;
}

.input-container:not(:last-child) {
  border-bottom: 1px solid #333;
}

.input-container > input,
.input-container > .input-wrapper > input,
.input-container > textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--input-default-border-color);
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.input-container > input {
  margin-top: 5px;
}

.input-container > .question {
  font-size: 1rem;
  font-weight: 500;
}

.input-container > .question-description {
  font-size: 0.875rem;
  opacity: 0.8;
}

.input-container > .input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}


.input-container > .input-wrapper > input[type='color'],
.input-container > input[type='date'],
.input-container > input[type='time'] {
  background-color: var(--button-default-bg-color);
  cursor: pointer;
}

.input-container > .input-wrapper > input[type='color']:hover,
.input-container > input[type='date']:hover,
.input-container > input[type='time']:hover {
  background-color: var(--button-default-bg-color-hover);
}

.input-container > .input-wrapper > p {
  font-size: 0.875rem;
}
