.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}



.form-input > input,
.form-input > .input-wrapper > input,
.form-input > textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--input-default-border-color);
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.form-input > input {
  margin-top: 5px;
}

.form-input > .question {
  font-size: 1rem;
  font-weight: 500;
}

.form-input > .question-description {
  font-size: 0.875rem;
  opacity: 0.8;
}

.form-input > .input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.form-input > .input-wrapper > input,
.form-input > input[type="date"],
.form-input > input[type="time"] {
  background-color: var(--button-default-bg-color);
}

.form-input > .input-wrapper > input:not(:disabled),
.form-input > input[type="date"]:not(:disabled),
.form-input > input[type="time"]:not(:disabled) {
  cursor: pointer;
}

.form-input > .input-wrapper > input:not(:disabled):hover,
.form-input > input[type="date"]:not(:disabled):hover,
.form-input > input[type="time"]:not(:disabled):hover {
  background-color: var(--button-default-bg-color-hover);
}

.form-input > .input-wrapper > p {
  font-size: 0.875rem;
}

.form-input > .input-wrapper.color {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 0;
}

.form-input > .input-wrapper.color.disabled > p {
  color: grey;
}
