.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-input:not(:last-child) {
  border-bottom: 1px solid #333;
}

.form-input > input,
.form-input > .input-wrapper > input,
.form-input > textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--input-default-border-color);
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.form-input > input {
  margin-top: 5px;
}

.form-input > .question {
  font-size: 1rem;
  font-weight: 500;
}

.form-input > .question-description {
  font-size: 0.875rem;
  opacity: 0.8;
}

.form-input > .input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.form-input > .input-wrapper > input[type="color"],
.form-input > input[type="date"],
.form-input > input[type="time"] {
  background-color: var(--button-default-bg-color);
  cursor: pointer;
}

.form-input > .input-wrapper > input[type="color"]:hover,
.form-input > input[type="date"]:hover,
.form-input > input[type="time"]:hover {
  background-color: var(--button-default-bg-color-hover);
}

.form-input > .input-wrapper > p {
  font-size: 0.875rem;
}
