main.create-form {
  display: flex;
  flex-direction: column;
  padding: 69px 10px 50px 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
}

main.create-form > .no-items-yet {
  border: 1px solid #555;
  display: flex;
  padding: 10px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

main.create-form > .input-types-selector > button:hover {
  background-color: #55555525;
}

main.create-form > .navigation-buttons {
  display: flex;
  gap: 10px;
}

main.create-form > .navigation-buttons > .navigation-button.done:not(:disabled) svg {
  fill: lightgreen;
}
