main.create-form {
  display: flex;
  flex-direction: column;
  padding: 40px 10px 50px 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
}

main.create-form > .saved-status {
  display: flex;
  align-items: center;
  gap: 5px;
}

main.create-form > .saved-status > span {
  width: 12px;
  height: 12px;
  background-color: rgb(197, 197, 0);
  border-radius: 100%;
}

main.create-form > .saved-status > span.saved {
  background-color: rgb(67, 236, 67);
}

main.create-form > .no-items-yet {
  border: 1px solid #555;
  display: flex;
  padding: 10px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

main.create-form > .input-types-selector > button:hover {
  background-color: #55555525;
}

main.create-form > .navigation-buttons {
  display: flex;
  gap: 10px;
}


main.create-form > .navigation-buttons > .navigation-button.done:not(:disabled) svg {
  fill: lightgreen;
}
