main.draft-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  gap: 10px;
  background-color: var(--main-bg-color);
}

main.draft-form > .row {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 10px;
}

main.draft-form > .row > .container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
}

main.draft-form > .row > .container > .form-controls {
  display: flex;
  justify-content: space-between;
}

main.draft-form > .row > .container > .form-controls > .menu-toggle-button-container {
  position: relative;
  margin-left: auto;
}

main.draft-form
  > .container
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

main.draft-form
  > .container
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button:hover {
  background-color: var(--button-default-bg-color-hover);
  border-color: var(--button-default-border-color-hover);
}

main.draft-form
  > .container
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button
  > svg {
  width: 20px;
  fill: white;
}

main.draft-form > .row > .container > .heading {
  /* padding: 10px; */
  padding-left: 10px;
  /* border-radius: 3px;  */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  border: 1px solid var(--container-border-color);
  padding: 10px;
  border-radius: 4px;
}

main.draft-form > .row > .container > .heading.no-margin-bottom {
  margin-bottom: 0;
}

main.draft-form > .row > .container > .heading > h1.title {
  font-size: 1rem;
}

main.draft-form > .row > .container > .heading > p.description {
  font-size: 0.875rem;
}

main.draft-form > .row > .container > .inputs {
  border: 1px solid var(--container-border-color);
  border-radius: 3px;
  margin-top: 17px;
  position: relative;
}

main.draft-form > .row > .container > .inputs::before {
  content: "Fill these prompts out";
}

main.draft-form > .row > .container > .inputs::before {
  position: absolute;
  bottom: calc(100% + 0px);
  left: -1px;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--container-bg-color);
  padding: 2px 5px;
  line-height: 0.875rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid var(--container-border-color);
  z-index: 2;
}
