main.create-form > .existing-or-new-draft-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main.create-form > .existing-or-new-draft-view > p {
  font-weight: 600;
}

main.create-form > .existing-or-new-draft-view > .options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main.create-form > .existing-or-new-draft-view > .options > .modify-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

main.create-form > .existing-or-new-draft-view > .options > .modify-container > p {
  font-weight: 500;
}

main.create-form
  > .existing-or-new-draft-view
  > .options
  > .modify-container
  > .draft-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

main.create-form
  > .existing-or-new-draft-view
  > .options
  > .modify-container
  > .draft-options
  > button {
  border: 1px solid #555;
  background-color: transparent;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  cursor: pointer;
}

main.create-form
  > .existing-or-new-draft-view
  > .options
  > .modify-container
  > .draft-options
  > button
  > p.title {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: start;
}

main.create-form
  > .existing-or-new-draft-view
  > .options
  > .modify-container
  > .draft-options
  > button
  > p.created-date {
  font-size: 0.875rem;
  text-align: start;
}

main.create-form > .existing-or-new-draft-view > .options > button.create-new-draft {
  border: 1px solid #555;
  background-color: transparent;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
}

main.create-form > .existing-or-new-draft-view > .options > button.create-new-draft:hover,
main.create-form
  > .existing-or-new-draft-view
  > .options
  > .modify-container
  > .draft-options
  > button:hover {
  border-color: #666;
}

main.create-form > .existing-or-new-draft-view > .options > button.create-new-draft > .plus-container {
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
}

main.create-form > .existing-or-new-draft-view > .options > button.create-new-draft > .plus-container > svg {
  fill: whitesmoke;
  width: 15px;
}