main.published-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  gap: 10px;
  background-color: var(--main-bg-color);
}

main.published-form > .row {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 10px;
}

main.published-form > .row > .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

main.published-form > .row > .container > button.previous-submission-info {
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--container-border-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

main.published-form > .row > .container > button.previous-submission-info:hover {
  background-color: var(--button-default-bg-color-hover);
  border: 1px solid var(--button-default-border-color-hover);
}

main.published-form > .row > .container > .previous-submission-info > .icon-container {
  position: absolute;
  left: 0;
  width: 45px;
  padding: 10px;
  border-right: 1px solid var(--container-border-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.published-form > .row > .container > .previous-submission-info > .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 45px;
  padding: 10px;
  gap: 5px;
}

main.published-form
  > .row
  > .container
  > .previous-submission-info
  > .icon-container
  > svg {
  width: 15px;
  fill: whitesmoke;
}

main.published-form > .row > .container > .previous-submission-info > .content > p {
  text-align: start;
}

main.published-form > .row > .container > .heading {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 4px;
}

main.published-form > .row > .container > .heading.no-margin-bottom {
  margin-bottom: 0;
}

main.published-form > .row > .container > .heading > h1.title {
  font-size: 1rem;
}

main.published-form > .row > .container > .heading > p.description {
  font-size: 0.875rem;
}

main.published-form > .row > .container > .inputs {
  border-radius: 3px;
  margin-top: 17px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main.published-form > .row > .container > .submit-button {
  padding: 3px 5px;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--button-default-border-color);
  background-color: var(--button-default-bg-color);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  cursor: pointer;
}

main.published-form > .row > .container > .submit-button:not(:disabled):hover {
  border: 1px solid var(--button-default-border-color-hover);
  background-color: var(--button-default-bg-color-hover);
}

main.published-form > .row > .container > .submit-button > svg {
  width: 15px;
}

main.published-form > .row > .container > .submit-button:disabled > svg {
  fill: grey;
}

main.published-form > .row > .container > .submit-button:not(:disabled) > svg {
  fill: lightgreen;
}
