main.published-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  gap: 10px;
  background-color: var(--main-bg-color);
}

main.published-form > .container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
}

main.published-form > .container > .form-controls {
  display: flex;
  justify-content: space-between;
}

main.published-form > .container > .form-controls > .menu-toggle-button-container {
  position: relative;
  margin-left: auto;
}

main.published-form
  > .container
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

main.published-form
  > .container
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button:hover {
  background-color: var(--button-default-bg-color-hover);
  border-color: var(--button-default-border-color-hover);
}

main.published-form
  > .container
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button
  > svg {
  width: 20px;
  fill: white;
}

main.published-form > .container > button.previous-submission-info {
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--container-border-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

main.published-form > .container > button.previous-submission-info:hover {
  background-color: var(--button-default-bg-color-hover);
  border: 1px solid var(--button-default-border-color-hover);
}

main.published-form > .container > .previous-submission-info > .icon-container {
  position: absolute;
  left: 0;
  width: 45px;
  padding: 10px;
  border-right: 1px solid var(--container-border-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.published-form > .container > .previous-submission-info > .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 45px;
  padding: 10px;
  gap: 5px;
}

main.published-form > .container > .previous-submission-info > .icon-container > svg {
  width: 15px;
  fill: whitesmoke;
}

main.published-form > .container > .previous-submission-info > .content > p {
  text-align: start;
}

main.published-form > .container > .heading {
  /* padding: 10px; */
  padding-left: 10px;
  /* border-radius: 3px;  */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  border: 1px solid var(--container-border-color);
  padding: 10px;
  border-radius: 4px;
}

main.published-form > .container > .heading.no-margin-bottom {
  margin-bottom: 0;
}

main.published-form > .container > .heading > h1.title {
  font-size: 1rem;
}

main.published-form > .container > .heading > p.description {
  font-size: 0.875rem;
}

main.published-form > .container > .inputs {
  border: 1px solid var(--container-border-color);
  border-radius: 3px;
  margin-top: 17px;
  position: relative;
}

main.published-form > .container > .inputs::before {
  content: "Fill these prompts out";
}

main.published-form > .container > .inputs::before {
  position: absolute;
  bottom: calc(100% + 0px);
  left: -1px;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: var(--container-bg-color);
  padding: 2px 5px;
  line-height: 0.875rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid var(--container-border-color);
  z-index: 2;
}

main.published-form > .container > .submit-button {
  padding: 3px 5px;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--button-default-border-color);
  background-color: var(--button-default-bg-color);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  cursor: pointer;
}

main.published-form > .container > .submit-button:not(:disabled):hover {
  border: 1px solid var(--button-default-border-color-hover);
  background-color: var(--button-default-bg-color-hover);
}

main.published-form > .container > .submit-button > svg {
  fill: lightgreen;
  width: 15px;
}
