header {
  padding: 10px 30px;
  background-color: var(--nav-bg-color);
  border-bottom: 1px solid #3d444d;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header > .row {
  width: 100%;
  display: flex;
}

header > .row > form.edit-fields {
  width: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header > .row > .text {
  width: 100%;
}

header > div.row > .buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

header > div.row > .buttons > .view-responses-link {
  border-radius: 3px;
  font-size: 0.875rem;
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color);
  display: flex;
  align-items: center;
  padding: 3px 5px;
  cursor: pointer;
  gap: 10px;
  white-space: nowrap;
}

header > div.row > .buttons > .view-responses-link:hover {
  background-color: var(--button-default-bg-color-hover);
  border: 1px solid var(--button-default-border-color-hover);
}

header > div.row > .buttons > .view-responses-link > svg {
  width: 13px;
  fill: whitesmoke;
}

header > .row > .form-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

header > .row > .form-controls > .menu-toggle-button-container {
  position: relative;
  margin-left: auto;
  margin-right: 5px;
}

header
  > .row
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color);
}

header
  > .row
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button:hover {
  background-color: var(--button-default-bg-color-hover);
  border-color: var(--button-default-border-color-hover);
}

header
  > .row
  > .form-controls
  > .menu-toggle-button-container
  > button.menu-toggle-button
  > svg {
  width: 20px;
  fill: white;
}

@media screen and (max-width: 800px) {
  header {
    padding: 10px;
  }
}