main.form-deleted {
  display: flex;
  flex-direction: column;
  padding: 89px 10px 50px 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  /* gap: 20px; */
}

main.form-deleted > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

main.form-deleted > .prompt-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main.form-deleted > .prompt-section > p {
  font-style: italic;
}

main.form-deleted > .prompt-section > .links {
  display: flex;
  gap: 10px;
}


main.form-deleted > .prompt-section > .links > a {
  display: flex;
  gap: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px 10px;
}

main.form-deleted > .prompt-section > .links > a:hover {
  background-color: #333;;
}

main.form-deleted > .prompt-section > .links > a > svg {
  width: 13px;
  fill: whitesmoke;
  transition: 0.1s ease transform;
}

main.form-deleted > .prompt-section > .links > a:hover > svg {
  transform: translateX(3px)
}
