nav {
  background-color: #555;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav > ul {
  display: flex;
  gap: 10px;
}
