nav {
  background-color: var(--nav-bg-color);
  border-bottom: 1px solid #3d444d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 55px;
  padding: 0 25px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

nav > a > svg {
  width: 25px;
  height: 25px;
  fill: whitesmoke;
}

nav > ul {
  display: flex;
  gap: 10px;
}

nav > ul > li > a {
  padding: 9px 20px;
  border-radius: 15px;
  border: 1px solid transparent;
  transition: 0.1s ease background-color;
}

nav > ul > li:first-child > a {
  background-color: var(--button-default-bg-color);
  border: 1px solid var(--button-default-border-color);
  padding: 9px 20px;
}

nav > ul > li:first-child > a:hover {
  background-color: var(--button-default-bg-color-hover);
  border: 1px solid var(--button-default-border-color-hover);
}

nav > ul > li:first-child > a:active {
  /* background-color: #444; */
}

nav > ul > li:not(:first-child) > a:hover {
    background-color: var(--button-default-bg-color);
    border: 1px solid var(--button-default-border-color);
  text-decoration: none;
}

nav > ul > li:not(:first-child) > a:active {
  /* background-color: #444; */
  text-decoration: none;
}

nav > ul > li > .user-menu-toggle-container {
  position: relative;
  display: flex;
  align-items: center;
}

nav > ul > li > .user-menu-toggle-container > .user-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

nav > ul > li > .user-menu-toggle-container > .user-menu-toggle:hover {
  background-color: var(--button-default-bg-color-hover);
}

nav > ul > li > .user-menu-toggle-container > .user-menu-toggle > svg {
  width: 33px;
  height: 33px;
}

nav > ul > li > .user-menu-toggle-container > .user-menu-toggle > .profile-picture {
  width: 33px;
  height: 33px;
  background-size: cover;
  border-radius: 100%;
}
