main.edit-input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 10px 75px 10px;
  width: 100%;
  min-height: 100%;
  gap: 10px;
  background-color: var(--main-bg-color);
}

main.edit-input > .row {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

main.edit-input > .row > .container {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: calc(100% - 30px);
}

main.edit-input > .row > .container > .heading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

main.edit-input > .row > .container > .heading > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

main.edit-input > .row > .container > form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

main.edit-input > .row > .container > form > input {
  width: 100%;
  font-size: 1.15rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid var(--input-default-border-color);
  border-radius: 3px;
  padding: 5px 10px;
}

main.edit-input > .row > .container > form > textarea {
  background-color: transparent;
  font-family: inherit;
  padding: 5px 10px;
  border: 1px solid var(--input-default-border-color);
  border-radius: 3px;
  font-size: 1rem;
  min-height: 100px;
  width: 100%;
}

main.edit-input > .row > .container > form > button[type="submit"] {
}

@media screen and (max-width: 600px) {
  main.edit-input > .row {
    flex-direction: column;
  }
}