.input-popup-menu {
  position: absolute;
  right: 5px;
  top: 40px;
  z-index: 2;
  padding: 0;
  background-color: var(--popup-menu-bg-color);
  border: 1px solid var(--popup-menu-border-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--popup-menu-box-shadow);
}

.input-popup-menu button,
.input-popup-menu a {
  background-color: transparent;
  padding: 5px 10px;
  border: 0;
  font-size: 1rem;
  text-align: start;
  min-width: 75px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-popup-menu button svg,
.input-popup-menu a svg {
  width: 12px;
  height: 12px;
  fill: whitesmoke;
}

.input-popup-menu button:not(:last-child),
.input-popup-menu a:not(:last-child) {
  border-bottom: 1px solid var(--button-default-border-color);
}

.input-popup-menu button:not(:disabled):hover,
.input-popup-menu a:not(:disabled):hover {
  background-color: var(--button-default-bg-color-hover);
}
