* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button.action-button-with-icon,
a.action-button-with-icon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  align-self: flex-start;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  border: 1px solid #555;
  background-color: transparent;
}

button.action-button-with-icon:disabled,
a.action-button-with-icon:disabled {
  color: rgba(255, 255, 255, 0.35);
  cursor: not-allowed;
}

button.action-button-with-icon:not(:disabled):not(.green):hover,
a.action-button-with-icon:not(:disabled):not(.green):hover {
  background-color: #333;
}

button.action-button-with-icon.green,
a.action-button-with-icon.green {
  font-weight: 600;
  background-color: hsl(120, 73%, 75%);
  color: #333;
}

button.action-button-with-icon.green:not(:disabled):hover,
a.action-button-with-icon.green:not(:disabled):hover {
  background-color: hsl(120, 73%, 85%);
}

button.action-button-with-icon > svg,
a.action-button-with-icon > svg {
  width: 13px;
  fill: whitesmoke;
}

button.action-button-with-icon:disabled > svg,
a.action-button-with-icon:disabled > svg {
  fill: grey;
}

button.action-button-with-icon.red > svg,
a.action-button-with-icon.red > svg {
  width: 13px;
  fill: rgb(218, 86, 112);
}

button.action-button-with-icon.green > svg,
a.action-button-with-icon.green > svg {
  width: 13px;
  fill: #333;
}

textarea {
  resize: vertical;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small-text {
  font-size: 0.875rem;
}

button.navigation-button {
  padding: 3px 5px;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #555;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  white-space: nowrap;
}

button.navigation-button .cancel {
  margin-top: 0;
  width: auto;
}

button.navigation-button :not(:disabled):hover {
  border-color: #6f6f6f;
  background-color: #55555525;
}

button.navigation-button .cancel:not(:disabled):hover {
  border-color: #6f6f6f;
}

button.navigation-button > svg {
  width: 12px;
  min-width: 12px;
  fill: white;
}
