* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151b23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  --nav-bg-color: #151b23;
  --main-bg-color: #212830;

  --shadow-tail-down: 0px 10px 12px -3px #1c212866;
  --shadow-extended-border: 0px 0px 0px 1px #3d444d;

  --popup-menu-bg-color: #2a313c;
  --popup-menu-border-color: #3d444d;
  --popup-menu-box-shadow: var(--shadow-extended-border), var(--shadow-tail-down);

  --button-default-bg-color: #2a313c;
  --button-default-bg-color-hover: #343d4b;
  --button-default-border-color: #3d444d;
  --button-default-border-color-hover: #3d444d;
  --button-green-bg-color: #357e3a;
  --button-green-bg-color-hover: #3c9042;

  --input-default-border-color: #3d444d;
  --input-default-border-color-hover: #3d444d;

  --text-color-white: #d1d7e0;
  --text-color-muted: #9198a1;
  --text-color-error: rgb(218, 76, 104);
  --text-color-green: lightgreen;

  --container-bg-color: #2a313c;
  --container-border-color: #3d444d;
}

html,
body,
#root,
#detail {
  height: 100%;
}

#root {
  padding-top: 55px;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}


textarea {
  resize: vertical;
  white-space: pre-wrap;
}

input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-subtle {
  opacity: 0.7;
}

.tiny-text {
  font-size: 0.75rem;
  color: var(--text-color-white);
}

.tiny-text.bold {
  font-weight: 500;
}

.small-text {
  font-size: 0.875rem;
  color: white;
}

.small-text.bold {
  font-weight: 500;
}

.small-text.bolder {
  font-weight: 600;
}

.small-text.red {
  color: var(--text-color-error);
}

.small-text.green {
  color: var(--text-color-green);
}

.small-text > span.optional {
  color: var(--text-color-muted);
  font-size: 0.75rem;
}

.button-stripped {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: 0.875rem;
  text-align: start;
}

.button-stripped:not(:disabled) {
  cursor: pointer;
}

.button-stripped:not(:disabled):hover {
  text-decoration: underline;
}
