div.forms-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--container-border-color);
  padding: 10px;
  border-radius: 5px;
}

div.forms-container > section.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  font-weight: 500;
  /* border: 1px solid #555; */
  /* border-radius: 3px; */
}

div.forms-container > section.header > p {
  font-weight: 500;
}

div.forms-container > section.header > .controls {
  display: flex;
  gap: 5px;
}

div.forms-container > section.header > .controls > div.button-container {
  position: relative;
}

div.forms-container > section.header > .controls > div.button-container > button {
  border: 1px solid var(--button-default-border-color);
  background-color: var(--button-default-bg-color);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
}

div.forms-container
  > section.header
  > .controls
  > div.button-container
  > button:not(:disabled):hover {
  background-color: var(--button-default-bg-color-hover);
}

div.forms-container > section.header > .controls > div.button-container > button > svg {
  fill: whitesmoke;
  stroke: whitesmoke;
}

div.forms-container
  > section.header
  > .controls
  > div.button-container
  > button:disabled {
  cursor: not-allowed;
}

div.forms-container
  > section.header
  > .controls
  > div.button-container
  > button:disabled
  > svg {
  fill: grey;
  stroke: grey;
}

div.forms-container
  > section.header
  > .controls
  > div.button-container
  > button.sort-toggle-button
  > svg {
  width: 20px;
}

div.forms-container
  > section.header
  > .controls
  > div.button-container
  > button.view-toggle-button
  > svg {
  width: 15px;
}
