.floating-create-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: var(--button-default-bg-color);
  box-shadow: var(--shadow-tail-down);
  padding: 15px;
  border-radius: 100%;
  border: 1px solid var(--button-default-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s ease background-color;
}

.floating-create-button:hover {
  background-color: var(--button-default-bg-color-hover);
  border-color: var(--button-default-border-color-hover);
}

.floating-create-button > svg {
  width: 30px;
  height: 30px;
  fill: whitesmoke;
  transition: 0.15s ease transform, 0.15s ease fill;
}

.floating-create-button:hover > svg {
  transform: rotate(90deg);
}